In [1]:
# load the iris data set
library(datasets)
data(iris)

In [2]:
#dimension of the dataset.
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [3]:
# convert all uppercase to lower case
names(iris) <- tolower(names(iris))
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [4]:
# display one of the iris species 
virginica <- filter(iris, species == "virginica")
head(virginica)

  sepal.length sepal.width petal.length petal.width species
1 6.3          3.3         6.0          2.5         virginica
2 5.8          2.7         5.1          1.9         virginica
3 7.1          3.0         5.9          2.1         virginica
4 6.3          2.9         5.6          1.8         virginica
5 6.5          3.0         5.8          2.2         virginica
6 7.6          3.0         6.6          2.1         virginica

In [5]:
#dimension of the dataset.
dim(iris)

[1] 150   5

In [6]:
#dimension of the dataset.
names(iris)

[1] "sepal.length" "sepal.width"  "petal.length" "petal.width"  "species"